/* color */
:root {
  --color-white: #ffffff;
  --color-light-gray: #7d7c83;
  --color-light-black: #333333;

  --color-base: var(--color-white);
  --color-main: #f4f6f6;
  --color-accent: #121212;

  --color-accent--lighten-1: #3f3f3f;
  --color-accent--lighten-2: #4e4e4e;
  --color-accent--lighten-3: #5d5d5d;
  --color-accent--darken-1: #0e0e0e;
  --color-accent--darken-2: #090909;
  --color-accent--darken-3: #000000;
}

/* font */
:root {
  --font-family--base: "Hiragino Sans";
  --font-family--content: "YuMincho", "Yu Mincho", "Hiragino Sans";
  --font-family--post-title: "Hiragino Sans";
  --font-size--detail-content_body: 16px;
  --font-size--detail-content_h1: 20px;
  --font-size--detail-content_h2: 18px;
  --font-size--detail-content_h3: 16px;
  --font-size--detail-content_h4: 16px;
}

/* z-index */
:root {
  --z-index-header: 10;
}
